@charset "UTF-8";
$backGroundColor: #eee; // 主背景色
$themeColor:#FB7954; // 主色调
$priceColor: #EA3D43; // 价格主色调
$grayFontColor:#8B8B98; // 灰色字体颜色
$blockFontColor:#333333; // 黑色字体颜色||||||| .r8510
$priceColor: #EA3D43; // 价格颜色




$priceColor: #EA3D43; // 价格颜色
$grayColor: #8B8B98;
$borderColor: rgba(0, 0, 0, .1); // 边框色




